
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shangchuan:before { content: "\f0023"; }
.icon-shangchuan1:before { content: "\f0024"; }
.icon-liebiao:before { content: "\f0025"; }
.icon-fasong:before { content: "\f0026"; }
.icon-bianji:before { content: "\f0022"; }
.icon-xiaofeizhebaozhang:before { content: "\f0030"; }
.icon-xinshoushanglu:before { content: "\f0031"; }
.icon-qita:before { content: "\f0034"; }
.icon-yinle:before { content: "\f0036"; }
.icon-dianzishu:before { content: "\f0037"; }
.icon-huafei:before { content: "\f003f"; }
.icon-wenzhang:before { content: "\f0042"; }
.icon-tupian:before { content: "\f0044"; }
.icon-baobei:before { content: "\f0045"; }
.icon-nvren:before { content: "\f0048"; }
.icon-jiangefuhao:before { content: "\f004f"; }
.icon-yangshengqi:before { content: "\f0051"; }
.icon-biaoqian:before { content: "\f0060"; }
.icon-rili:before { content: "\f0063"; }
.icon-yinle1:before { content: "\f0064"; }
.icon-duihuakuang:before { content: "\f0066"; }
.icon-keai:before { content: "\f0069"; }
.icon-zanyang:before { content: "\f013c"; }
.icon-piping:before { content: "\f013d"; }
.icon-shezhi:before { content: "\f013e"; }
.icon-shanchu:before { content: "\f013f"; }
.icon-qita1:before { content: "\f0141"; }
.icon-xinxi:before { content: "\f0142"; }
.icon-bangzhu:before { content: "\f0143"; }
.icon-shoucang:before { content: "\f0144"; }
.icon-xiai:before { content: "\f0145"; }
.icon-xiaozhushou:before { content: "\f0146"; }
.icon-weizhi:before { content: "\f014a"; }
.icon-haoyou:before { content: "\f014b"; }
.icon-chazhaoyonghu:before { content: "\f014c"; }
.icon-tianjiayonghu:before { content: "\f014d"; }
.icon-bianji1:before { content: "\f014f"; }
.icon-renminbi:before { content: "\f0150"; }
.icon-biaoqian1:before { content: "\f0152"; }
.icon-jian:before { content: "\f0153"; }
.icon-jia:before { content: "\f0154"; }
.icon-cuowu:before { content: "\f0155"; }
.icon-zhengque:before { content: "\f0156"; }
.icon-xiaosuolvetu:before { content: "\f0159"; }
.icon-shuaxin:before { content: "\f015c"; }
.icon-dantupailie:before { content: "\f015d"; }
.icon-daliebiao:before { content: "\f015e"; }
.icon-dasuolvetuliebiao:before { content: "\f015f"; }
.icon-guolv:before { content: "\f0164"; }
.icon-xiangyou:before { content: "\f016d"; }
.icon-xiangzuo:before { content: "\f016e"; }
.icon-xiangshang:before { content: "\f016f"; }
.icon-xiangxia:before { content: "\f0170"; }
.icon-weiju:before { content: "\f019a"; }
.icon-fengjing:before { content: "\f019e"; }
.icon-xuanze:before { content: "\f01ec"; }
.icon-youjian:before { content: "\f0138"; }
.icon-dakaixinxi:before { content: "\f0194"; }
.icon-tuichu:before { content: "\f017c"; }
