<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.clz.core.service.StuPicsService">
  <insert id="insert" parameterType="TStuPics">
   insert into t_stu_pics(stuNo,stuClz,picPath,type) values(#{stuNo},#{stuClz},#{picPath},#{type});
  </insert>
  <delete id="delete" parameterType="int">
   delete from t_stu_pics
   <where>
    id=#{id}
       </where>
  </delete>
  <update id="update" parameterType="hashmap">
   update t_stu_pics
   <set>
         <if test="picPath!=null">picPath=#{ picPath },</if>
         <if test="type!=null">type=#{ type },</if>
       </set>
   <where>
    stuNo=#{stuNo} and stuClz=#{stuClz}
       </where>
  </update>
  <select id="list" resultType="TStuPics" parameterType="hashmap">
   select * from t_stu_pics
   <where>
         <if test="no!=null">and stuNo=#{ no }</if>
         <if test="classId!=null">and stuClz=#{ classId }</if>
         <if test="type!=null">and type=#{ type }</if>
       </where>
  </select>
  <select id="listByPage" resultType="TStuPics" parameterType="hashmap">
   select * from t_stu_pics
   <where>
         <if test="stuNo!=null">and stuNo=#{ stuNo }</if>
         <if test="stuClz!=null">and stuClz=#{ stuClz }</if>
         <if test="type!=null">and type=#{ type }</if>
       </where>
   limit #{offset},#{rows}
  </select>
  <select id="load" resultType="TStuPics" parameterType="int">
   select * from t_stu_pics
   <where>
         id=#{id}
       </where>
   limit 0,1
  </select>
  <select id="count" resultType="int" parameterType="hashmap">
   select count(*) from t_stu_pics
   <where>
         <if test="stuNo!=null">and stuNo=#{ stuNo }</if>
         <if test="stuClz!=null">and stuClz=#{ stuClz }</if>
         <if test="type!=null">and type=#{ type }</if>
       </where>
  </select>
 </mapper>
 