<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.clz.core.service.UnivService">
  <insert id="insert" parameterType="TUniv">
   insert into t_univ(name) values(#{name});
  </insert>
  <delete id="delete" parameterType="hashmap">
   update t_univ set deleted='Y'
   <where>
    id=#{id}
       </where>
  </delete>
  <update id="update" parameterType="hashmap">
   update t_univ
   <set>
         <if test="name!=null">name=#{ name },</if>
       </set>
   <where>
    id=#{id}
       </where>
  </update>
  <select id="list" resultType="TUniv" parameterType="hashmap">
   select * from t_univ
   <where>
         <if test="name!=null">and name=#{ name }</if>
       </where>
  </select>
  <select id="listByPage" resultType="TUniv" parameterType="hashmap">
   select * from t_univ
   <where>
         <if test="name!=null">and name=#{ name }</if>
       </where>
   limit #{offset},#{rows}
  </select>
  <select id="load" resultType="TUniv" parameterType="hashmap">
   select * from t_univ
   <where>
         <if test="name!=null">and name=#{ name }</if>
       </where>
   limit 0,1
  </select>
  <select id="count" resultType="int" parameterType="hashmap">
   select count(*) from t_univ
   <where>
         <if test="name!=null">and name = #{ name }</if>
       </where>
  </select>
 </mapper>
 